<section class="ui stackable grid container" style="padding: 2rem;">
  <div class="row">
    <div class="ten wide column">
      <div class="ui stackable grid">
        <div class="row">
          <div class="sixteen wide column">
            <div class="ui form segment">
              <div class="field">
                <label for="fname">First name</label>
                <div class="ui input">
                  <input type="text" placeholder="Enter your first name">
                </div>
              </div>
              <div class="field">
                <label for="lname">Last name</label>
                <div class="ui input">
                  <input type="text" placeholder="Enter your last name">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngFor="let page of dummyPages"
             class="two column row">
          <div class="column">
            <div class="ui placeholder">
              <div class="image header">
                <div class="line"></div>
                <div class="line"></div>
              </div>
              <div class="paragraph">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui inverted segment">
              <div class="ui inverted placeholder">
                <div class="image header">
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
                <div class="paragraph">
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="right floated five wide column" #summaryCard>
      <app-sticky-header  style="position: fixed;" [style.width]="summaryCard.clientWidth + 'px'"></app-sticky-header>
    </div>

  </div>

</section>

